<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-mobile-alt accent-color fa-2x"></i>
        <mat-card-title>Mobile</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente nulla, quas impedit tenetur sunt eius?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-tablet-alt accent-color fa-2x"></i>
        <mat-card-title>Web</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente nulla, quas impedit tenetur sunt eius?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop accent-color fa-2x"></i>
        <mat-card-title>Desktop</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente nulla, quas impedit tenetur sunt eius?</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h3>About Me</h3>
    <p>I am a front end web developer with over 10 years of wexperience in variuous companies. I started off as content
      administrator uising CMS tools like Sitecore. Then I learnt web technologies like HTML, CSS 3, and Javascript.
      From there on I started working as an UI developer creating various web sites both static and responsive.
      Currently I work asd Senior UI Web developer in L nT Infotech.</p>

  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML 5 and CSS 3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Javascript</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="warn"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Angular 8</strong>
      <span class="float-right">70%</span>
      <mat-progress-bar value="70" color="primary"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Bootstrap 4 Framework</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="primary"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>Angular Material</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
    <div class="mb-3">
      <strong>Angular Flex Layout</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
    <div class="mb-3">
      <strong>jQuery Javascript library</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
    <div class="mb-3">
      <strong>Greensocks JS OR TWEENMAX JS</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
    <div class="mb-3">
      <strong>Google Web Designer for banner development</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
    <div class="mb-3">
      <strong>Sketch and Photoshop for mobile app design</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>

    </div>
  </div>
</div>
<div>
  <div class="row mt-5">
    <div class="col-3 text-center"><i class="fa fa-code fa-10x redicon d-none d-md-block"></i></div>
    <div class="col-12 col-md-9">
      <h2><i class="fa fa-code redicon d-md-none mr-2"></i>Front End Development</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam perferendis vel porro quidem. Sapiente rerum
        ipsa placeat ratione? Quae pariatur reiciendis ab fugit porro, minima repudiandae.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, consequatur officia maxime quidem
        cupiditate amet dolorum nostrum ut suscipit beatae? Dolor.</p>
      <button mat-stroked-button [routerLink]="['/portfolio']" [queryParams]="{filter:'All'}">View More</button>
    </div>
  </div>
</div>
<div>
  <div class="row mt-5">
    <div class="col-12 col-md-9 text-right">
      <h2>HTML Emailers<i class="fas fa-envelope-open-text blueicon d-md-none ml-2"></i></h2>
      <p>Nihil, hic incidunt repudiandae repellendus culpa soluta aliquid tempore recusandae ad autem harum quidem quis
        cum corporis magnam qui doloribus illum facere modi. Tempore, necessitatibus ut!</p>
      <p>Qui accusamus sint aspernatur, dignissimos culpa vero porro eius nobis commodi, earum et doloribus sunt dolorem
        provident velit! Quod, voluptatem sed.</p>
      <button mat-stroked-button [routerLink]="['/portfolio']" [queryParams]="{filter:'Emailers'}">View More</button>
    </div>
    <div class="col-3 text-center"><i class="fas fa-envelope-open-text fa-10x blueicon d-none d-md-block"></i></div>

  </div>
</div>
<div>
  <div class="row mt-5">
    <div class="col-3 text-center"><i class="far fa-image fa-10x greenicon d-none d-md-block"></i></div>
    <div class="col-12 col-md-9">
      <h2><i class="far fa-image greenicon d-md-none mr-2"></i>HTML 5 Web Banners</h2>
      <p>Expedita nesciunt sint vitae tenetur veniam et. Alias rem eaque et, sint praesentium aperiam ex eos, maiores
        cumque modi consequuntur quaerat nobis est quidem eius perspiciatis?</p>
      <p>Dolorum officiis omnis libero quod nulla aspernatur, unde beatae consequatur veritatis, ratione placeat tempora
        minus pariatur cumque. Repudiandae aliquam itaque cupiditate.</p>
      <button mat-stroked-button [routerLink]="['/portfolio']" [queryParams]="{filter:'Banners'}">View More</button>
    </div>
  </div>
</div>

<div class="portfolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Work Samples</h2>
      <p>Below, please find some work samples.</p>
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngFor="let sample of recentProjects; index as i" [ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3 }">
      <img mat-card-image class="img-fluid" [src]="sample.preview + '?text=' + sample.name" alt="sample.name" />
    </div>
  
    
    <div class="col-12 mt-3"> <button [routerLink]="['/portfolio']" mat-stroked-button>View More</button></div>
  </div>
</div>